.App {
  width:100vw;
  height:fit-content;
  display: flex;
  justify-content: center;
}
.Start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
input {
  width:50%;
  height:fit-content;
  margin-top:15px;
  margin-bottom:15px;
  padding:15px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: #f2f2f2;
}
.state__name {
  margin-left:5px;
  margin-right:5px;
  padding:10px;
  border-radius: 25px;
  background-color: rgb(255, 233, 107);
}
button {
  width:150px;
  padding:15px;
  background-color: rgb(57, 136, 255);
  border:none;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  color:white;
  font-size:16px;
}
